<div class="container">
  <div class="footer">
    <%= link_to home_path do %>
      <%= image_tag "https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243092/OMES_Logo_pur2_llba00.png", alt: "omes logo"%>
    <% end %>
    <hr>

    <!--Social Media-->
    <div class="row footer">
      <div class="col-12">
        <div class="icons">
          <%= link_to "https://www.facebook.com" do %>
            <i class="fab fa-facebook-f"> </i>
          <% end %>
          <%= link_to "https://www.twitter.com" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to "https://www.instagram.com" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>
    </div>

    <p>©
      Omes 2557 | Impressum | Datenschutz <br>
Hotel Gotthard, Omesberg 119, 6764 Lech am Arlberg <br>
Tel: +43 5583 12345 | Mail: omes@gotthard.com
    </p>
  </div>
</div>
